<div class="top-contributors__container">
  <h3 class="top-contributors__heading">
    Monthly top contributors
  </h3>

  <div class="top-contributors__body">
    {{#each this.contributors as |user|}}
      <TopContributor @data={{user}} />
    {{/each}}
  </div>

  <div class="top-contributors__view-all">
    <a href="/u?order=post_count&period=monthly">
      See more
      {{d-icon "plus"}}
    </a>
  </div>
</div>

