<section class="category-grid">
  {{#each categories as |category|}}
    <a href="{{category.url}}" class="category-card-link">
      <div class="category-card">
        <div class="category-card-content">
          <h3 class="category-card-title">{{category.name}}</h3>
        </div>
        <div class="category-card-icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
               stroke="currentColor" stroke-width="2" stroke-linecap="round"
               stroke-linejoin="round" class="feather feather-external-link">
            <path d="M18 3h3v3M10 14l11-11M21 10V3h-7"/>
            <path d="M5 5v14h14v-7"/>
          </svg>
        </div>
      </div>
    </a>
  {{/each}}
</section>


<section class="ambassador-banner">
  <div class="banner-content">
    <div class="banner-left">
      <img src="https://cdck-file-uploads-canada1.s3.dualstack.ca-central-1.amazonaws.com/flex007/uploads/buila/original/1X/eb761fedfa9bd395e2c52f440298e3d4100b5f40.svg" alt="Ambassador Icon">
    </div>
    <div class="banner-middle">
      <h2>Become an Buila Ambassador</h2>
      <p>
        Buila Ambassadors are empowered to drive organizational excellence and<br> 
        productivity with access to exclusive resources, webinars, and a community<br> 
        of fellow collaborative work management enthusiasts.
      </p>
    </div>
    <div class="banner-right">
      <a href="#" class="join-btn">Join us</a>
    </div>
  </div>
</section>

