<section class="category-grid">
  <a href="/c/how-to/" class="category-link">
  <div class="category-card">
    <div class="icon">📖</div>
    <h3>How To</h3>
    <p>Ask questions related to building and troubleshooting your scenarios.</p>
  </div>
    </a>
            <a href="/c/directors" class="category-link">
  <div class="category-card">
    <div class="icon">👀</div>
    <h3>Directors</h3>
    <p>This is descriptions for this categury</p>
  </div>
              </a>
              <a href="/c/rigs" class="category-link">
  <div class="category-card">
    <div class="icon">👀</div>
    <h3>RIGs</h3>
    <p>This is descriptions for this category</p>
  </div>
                </a>
                <a href="/c/training" class="category-link">
  <div class="category-card">
    <div class="icon">👀</div>
    <h3>Training</h3>
    <p>This is descriptions for this category</p>
  </div>
                  </a>
                  <a href="/c/aqf" class="category-link">
  <div class="category-card">
    <div class="icon">👀</div>
    <h3>AQF</h3>
    <p>This is descrptions for this category</p>
  </div>
                    </a>
                    <a href="/c/member-info" class="category-link">
  <div class="category-card">
    <div class="icon">👀</div>
    <h3>Members Info</h3>
    <p>This is descrptions for this category</p>
  </div>
                    </a>
</section>
