<section class="category-grid">
  <a href="/c/getting-started" class="category-link">
  <div class="category-card">
    <div class="icon">🚀</div>
    <h3>Getting Started</h3>
    <p>Ask questions and get support from the community as a new user.</p>
  </div>
  </a>
  <div class="category-card">
    <div class="icon">📖</div>
    <h3>How To</h3>
    <p>Ask questions related to building and troubleshooting your scenarios.</p>
  </div>
  <div class="category-card">
    <div class="icon">🟪</div>
    <h3>Custom Apps</h3>
    <p>Discuss topics related to custom app development in Make.</p>
  </div>
  <div class="category-card">
    <div class="icon">🧩</div>
    <h3>Features</h3>
    <p>Discuss Make’s features, functionality, capabilities, and integrations.</p>
  </div>
  <div class="category-card">
    <div class="icon">📑</div>
    <h3>News</h3>
    <p>Get news from the Make side – updates, releases &amp; more.</p>
  </div>
  <div class="category-card">
    <div class="icon">👀</div>
    <h3>Showcase</h3>
    <p>Show off the cool stuff you’ve built with Make – hacks, best practices &amp; more.</p>
  </div>
  <div class="category-card">
    <div class="icon">👀</div>
    <h3>Directors</h3>
    <p>This is descriptions for this categury</p>
  </div>
  <div class="category-card">
    <div class="icon">👀</div>
    <h3>RIGs</h3>
    <p>This is descriptions for this category</p>
  </div>
  <div class="category-card">
    <div class="icon">👀</div>
    <h3>Training</h3>
    <p>This is descriptions for this category</p>
  </div>
  <div class="category-card">
    <div class="icon">👀</div>
    <h3>AQF</h3>
    <p>This is descrptions for this category</p>
  </div>
  <div class="category-card">
    <div class="icon">👀</div>
    <h3>Members Info</h3>
    <p>This is descrptions for this category</p>
  </div>
</section>
