<section class="category-grid">
  <a href="/c/how-to/" class="category-link">
  <div class="category-card">
    <div class="icon">📖</div>
    <h3>How To</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
    </a>
            <a href="/c/directors" class="category-link">
  <div class="category-card">
    <div class="icon">🚀</div>
    <h3>Directors</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
              </a>
              <a href="/c/rigs" class="category-link">
  <div class="category-card">
    <div class="icon">👀</div>
    <h3>RIGs</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
                </a>
                <a href="/c/training" class="category-link">
  <div class="category-card">
    <div class="icon">🟪</div>
    <h3>Training</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
                  </a>
                  <a href="/c/aqf" class="category-link">
  <div class="category-card">
    <div class="icon">🧩</div>
    <h3>AQF</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
                    </a>
                    <a href="/c/member-info" class="category-link">
  <div class="category-card">
    <div class="icon">📑</div>
    <h3>Members Info</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
                    </a>
</section>

<section class="ambassador-banner">
  <div class="banner-content">
    <div class="banner-left">
      <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/People_icon.svg" alt="Ambassador Icon">
    </div>
    <div class="banner-middle">
      <h2>Become an Asana Ambassador</h2>
      <p>
        Asana Ambassadors are empowered to drive organizational excellence and 
        productivity with access to exclusive resources, webinars, and a community 
        of fellow collaborative work management enthusiasts.
      </p>
    </div>
    <div class="banner-right">
      <a href="#" class="join-btn">Join us</a>
    </div>
  </div>
</section>
