<div class="community-highlight__wrapper">
  <div class="community-highlight__left">
    <TopContributorsSidebar />
  </div>

  <div class="community-highlight__right">
    <div class="highlight-banner">  
        “I have participated in the BUILA
Mentoring Scheme since it started
and have found it hugely rewarding.
It has allowed me to share some of
my experience and insights, and also
helped with my own growth and
development, which has been
beneficial both for myself and also
the university.”

      <div class="quote-author">
        <img src="https://cdck-file-uploads-us1.s3.dualstack.us-west-2.amazonaws.com/asanastaging/original/4X/2/2/2/222b23bee19dff48ef660a64450f79210bfbe4ea.png" class="author-avatar">
        <div class="author-info">
          <div class="author-name">Sophie Turnbull,</div>
          <div class="author-location">Director, International Recruitment and Admissions,</div>
          <div class="author-location">University of the West of England.</div>
        </div>
      </div>
    </div>
  </div>
</div>


