<div class="community-highlight__wrapper">
  <div class="community-highlight__left">
    <TopContributorsSidebar />
  </div>

  <div class="community-highlight__right">
    <div class="highlight-banner">  
        “The Ambassador program not only brings like-minded people together with their passion about making projects visible and clear, but also opens up ideas and user cases through global connections. Seeing the diverse usage of Asana and receiving regular product updates are what make the community extremely valuable.”

      <div class="quote-author">
        <img src="https://cdck-file-uploads-us1.s3.dualstack.us-west-2.amazonaws.com/asanastaging/original/4X/2/2/2/222b23bee19dff48ef660a64450f79210bfbe4ea.png" class="author-avatar">
        <div class="author-info">
          <div class="author-name">Rashad Issa</div>
          <div class="author-location">United Kingdom</div>
        </div>
      </div>
    </div>
  </div>
</div>


